html,
body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #1b1924;
  width: 390px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  padding: 0;
  font-size: 25px;
}

h1,
h2,
#publish-btn {
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2 {
  padding: 0;
  color: #fff;
}

h1 {
  font-size: 25px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

#freddy {
  margin: 40px auto 0;
  width: 90px;
  height: 90px;
}

#input-field,
#publish-btn {
  border-radius: 8px;
}

#input-field,
.endorsement {
  font-family: "Inter", sans-serif;
}

#input-field,
#publish-btn,
#endorsements {
  width: 317px;
  box-sizing: border-box;
}

#input-field {
  width: 317px;
  height: 118px;
  background-color: #444059;
  color: #8f8f8f;
  border: none;
  margin-bottom: 12px;
  padding: 10px;
}

#publish-btn {
  height: 60px;
  font-size: 22px;
  font-weight: 700;
  background-color: #28a9f1;
  color: #04131c;
}

#publish-btn:hover {
  cursor: pointer;
}

#endorsements {
  justify-content: center;
}

.endorsement {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: left;
}

.endorsement:hover {
  cursor: pointer;
  color: #fff;
  background-color: #444059;
}
